*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black-clr: #282828;
    --yellow-clr: #f8c81a;
    --green-clr: #58c898;
    --white-clr: #f0f0f0;
    --darkyellow-clr: #eea126;
    --gray-clr: #383938;
    --light-clr: #dddddd;
    --lightgray-clr: #636363;
}
.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
body, input, button{
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
    background-color: var(--gray-clr);
}
.hr-line{
    width: 14px;
    height: 1px;
    color: var(--green-clr);
    background-color: var(--green-clr);
    border: none;
    display: inline-block;
}
.readmore-icon{
    color: var(--yellow-clr);
}
.green-circle{
    position: absolute;
    right: -8rem;
    top: 123rem;
}
.yellow-circle{
    position: absolute;
    left: -8rem;
    top: 155rem;
}
.container{
    width: 90%;
    margin: 0 auto;
    overflow-x: hidden;
}
.dark-bg{
    background-color: var(--black-clr);
    height: 100vh;
}
.main{
    padding-bottom: 5rem;
}
.menubar{
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    align-items: center;
    &__btn{
        background-color: var(--yellow-clr);
        padding: 0.60rem 1.5rem;
        border-radius: 0.70rem;
        text-decoration: none;
        color: var(--black-clr);
        font-size: 0.90rem;
        &:hover{
            background-color: var(--darkyellow-clr);
        }
    }
}
.nav{
    &__ul{
        display: flex;
        column-gap: 1.50rem;
    }
    &__li{
        list-style-type: none;
    }
    &__anchor{
        text-decoration: none;
        font-size: 0.90rem;
        padding-bottom: 0.10rem;
        color: var(--white-clr);
        &:hover{
            border-bottom: 2px solid var(--white-clr);
        }
        &.active{
            @extend .nav__anchor:hover;
        }
    }
}
.intro{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    column-gap: 2rem;
    padding: 5rem 0;
    &__content{
        display: flex;
        row-gap: 1rem;
        flex-direction: column;
    }
    &__eyebrow{
        display: flex;
        align-items: center;
        column-gap: 0.50rem;
    }
    &__txt{
        color: var(--green-clr);
        font-size: 0.80rem;
        font-weight: 700;
    }
    &__h1{
        font-size: 4rem;
        color: var(--white-clr);
        line-height: 6rem;
    }
    &__name{
        font-weight: 700;
        font-size: 5rem;
    }
    &__para{
        color: var(--white-clr);
        font-size: 0.90rem;
    }
    &__btn{
        @extend .header__btn;
        width: fit-content;
    }
    &__profile{
        width: 60%;
        border-radius: 50%;
        margin: 0 auto;
    }
}
.skillsection{
    padding: 7rem 0;
    display: grid;
    grid-template-columns: 60% 32%;
    column-gap: 8%;
    align-items: center;
}
.designs{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; */
    &__icon{
        font-size: 2rem;
        color: var(--green-clr);
        padding: 1.5rem;
        background-color: var(--gray-clr);
        border-radius: 50%;
        border: 1px solid var(--green-clr);
    }
    &__product{
        background-color: var(--black-clr);
        padding: 3rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        row-gap: 1rem;
        flex-direction: column;
        text-align: center;
        width: 46%;
    }
    &__title{
        color: var(--white-clr);
        font-size: 1.5rem;
        font-weight: 700;
    }
    &__txt{
        color: var(--light-clr);
        font-size: 0.90rem;
    }
    &__logo{
        @extend .designs__product;
    }
    &__ui, &__icondesign{
        @extend .designs__product;
    }
    &__icondesign{
        @extend .designs__product;
    }
    &__box:nth-child(odd){
        margin-right: 4%;
        float: left;
    }
    &__box:nth-child(even){
        margin-top: 2rem;
    }
}
.hireme{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    &__eyebrow{
        @extend .intro__eyebrow;
    }
    &__txt{
        @extend .intro__txt;
    }
    &__title{
        font-size: 2rem;
        text-transform: capitalize;
        font-weight: 700;
        color: var(--white-clr);
    }
    &__para{
        color: var(--light-clr);
        font-size: 0.90rem;
    }
}
.projects{
    width: 80%;
    margin: 0 auto;
}
.project{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    align-items: center;
    padding: 6rem 0;
    &__content{
        @extend .hireme;
    }
    &__eyebrow{
        @extend .intro__eyebrow;
    }
    &__txt{
        @extend .intro__txt;
    }
    &__title{
        @extend .hireme__title;
    }
    &__para{
        @extend .hireme__para;
    }
    &__anchor{
        color: var(--yellow-clr);
        text-decoration: none;
        font-size: 0.90rem;
        margin-left: 1rem;
        cursor: pointer;
    }
    &__imgsection{
        position: relative;
    }
    &__img{
        width: 100%;
        border-radius: 2rem;
    }
    &__imgbg{
        width: 100%;
        height: 247px;
        background-color: var(--lightgray-clr);
        opacity: 0.4;
        transform: rotate(-8deg);
        border-radius: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
.worktogether{
    background-color: var(--black-clr);
    padding: 3rem;
    width: 80%;
    margin: 0 auto;
    border-radius: 2rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    &__content{
        width: 60%;
        margin: 0 auto;
        @extend .hireme;
    }
    &__title{
        color: var(--white-clr);
        font-size: 2.5rem;
        text-transform: capitalize;
    }
    &__para{
        color: var(--light-clr);
        font-size: 0.90rem;
    }
    &__btn{
        @extend .header__btn;
        width: fit-content;
        margin: 0 auto;
    }
}
.green-circle2{
    position: absolute;
    bottom: -8rem;
    right: -8rem;
}
.green-circle-fill{
    position: absolute;
    top: -8rem;
    left: -8rem;
}
.footer{
    padding: 3rem 0;
    background-color: var(--black-clr);
    &__copy{
        color: var(--white-clr);
    }
    &__anchor{
        color: var(--green-clr);
        text-decoration: none;
    }
    &__socialicons{
        display: flex;
        column-gap: 2rem;
    }
    &__content{
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 767px){
    .container{
        overflow-x: hidden;
    }
    .intro{
        grid-template-columns: 100%;
        &__h1{
            font-size: 2rem;
            line-height: 4rem;
        }
        &__name{
            font-size: 3rem;
        }
        &__profile{
            display: none;
        }
    }
    .skillsection{
        grid-template-columns: 100%;
        row-gap: 3rem;
        padding: 3rem 0;
    }
    .green-circle{
        display: none;
    }
    .yellow-circle{
        display: none;
    }
    .designs{
        display: grid;
        row-gap: 3rem;
        &__box{
            width: 100%;
        }
        &__box:nth-child(odd){
            margin-right: 0;
            float: left;
        }
        &__box:nth-child(even){
            margin-top: 0;
        }
    }
    .projects{
        width: 100%;
    }
    .project{
        grid-template-columns: 100%;
        row-gap: 3rem;
        padding: 3rem 0;
        &__imgbg{
            height: 173px;
        }
        &__imgsection{
            width: 92%;
            margin: 0 auto;
        }
    }
    .worktogether{
        width: 100%;
        padding: 8rem  0;
        height: 40rem;
        &__content{
            width: 90%;
        }
    }
}
@media (max-width: 374px){
    .intro{
        &__h1{
            font-size: 1.5rem;
            line-height: 3rem;
        }
        &__name{
            font-size: 2.5rem;
        }
    }
}
@media (max-width: 400px){
    .container{
        overflow-x: hidden;
    }
    .menubar{
        display: block;
        &::before{
            content: url(../images/menu_black.svg);
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
        &.active{
            &::before{
                content: url(../images/cancel_black.svg);
                position: absolute;
                top: 1rem;
                right: 1rem;
            }
        }
    }
    .header{
        flex-direction: column;
        row-gap: 1rem;
        display: none;
        &.active{
            display: flex;
        }
    }
    .nav{
        &__ul{
            flex-direction: column;
            text-align: center;
            row-gap: 1rem;
        }
    }
}